body{
    background-color: brown;
}
.username{

    width: 200px;
    height: 10px 0 0 0 ;
    padding: 20px;
    border-radius: 30px;
    border-style:solid
}
#email{

    width: 200px;
    height: 10px 0 0 0 ;
    padding: 20px;
    border-radius: 30px;
    border-style:solid
}
#password{
    
    width: 200px;
    height: 10px 0 0 0 ;
    padding: 20px;
    border-radius: 30px;
    border-style:solid
}
#comfimpassword{
    
    width: 200px;
    height: 10px 0 0 0 ;
    padding: 20px;
    border-radius: 30px;
    border-style:solid
}